
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;

  div.boards {
    position: relative;
  }
  
  div.board {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3vh;
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(21, 142, 0);

    div.board-row {
      margin: 0px;
      padding: 0px;
      height: fit-content;
      width: fit-content;
      display: flex;
    }

    div.slot {
      height: 120px;
      width: 120px;
      margin: 5px;
      padding: 0px;
      border-radius: 5px;
      background-color: white;
      background-size: cover;
      display: inline-block;
    }

    div.slot-empty {
      background: none;
    }
  
    div.slot-2 {
      background-image: url("images/mahanta.png");
      background-size: 100% 100%;
    }

    div.slot-4 {
      background-image: url("images/radesh.png");
      background-size: 100% 100%;
    }

    div.slot-8 {
      background-image: url("images/logo_tp.png");
      background-size: 100% 100%;
    }

    div.slot-16 {
      background-image: url("images/radeshconstruction.png");
      background-size: 100% 100%;
    }

    div.slot-32 {
      background-image: url("images/sayno.gif");
      background-size: 100% 100%;
    }

    div.slot-64 {
      background-image: url("images/datamainos2.png");
      background-size: 100% 100%;
    }
    
    div.slot-128 {
      background-image: url("images/taxi.jpg");
      background-size: 100% 100%;
    }

    div.slot-256 {
      background-image: url("images/dataplayer1.png");
      background-size: 100% 100%;
    }

    div.slot-512 {
      background-image: url("images/christmas.jpg");
      background-size: 100% 100%;
    }
  
    div.slot-1024 {
      background-image: url("images/ddf.png");
      background-size: 100% 100%;
    }

    div.slot-2048 {
      background-image: url("images/radesh.jpg");
      background-size: 100% 100%;
    }
    
    div.slot-4096 {
      background-image: url("images/edgeradesh.jpg");
      background-size: 100% 100%;
    }

    
    div.hidden {
      display: hidden;
    }
  }
  
  div.anim-board {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3vh;
    margin: auto;
    height: fit-content;
    width: fit-content;
    background: none;
  }
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 22px;
}

p {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  top: 76px;
  left: 4px;
  background: local;
  width: fit-content;
  background-color: rgb(255, 153, 0);
}