
body {
  div.boards {
    position: relative;
  }
  
  div.board {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    background-color: blue;

    div.board-row {
      margin: 0px;
      padding: 0px;
      height: fit-content;
      width: fit-content;
      display: flex;
    }

    div.slot {
      height: 80px;
      width: 80px;
      margin: 5px;
      padding: 0px;
      background-color: white;
      background-size: cover;
      display: inline-block;
    }

    div.slot-empty {
      background: none;
    }
  
    div.slot-2 {
      background-image: url("mahanta.png");
    }

    div.slot-4 {
      background-image: url("radesh.png");
    }

    div.slot-8 {
      background-image: url("logo_tp.png");
    }

    div.slot-16 {
      background-image: url("radeshconstruction.png");
    }

    div.slot-32 {
      background-image: url("sayno.gif");
    }

    div.slot-64 {
      background-image: url("datamainos2.png");
    }
    
    div.slot-128 {
      background-image: url("taxi.jpg");
    }

    div.slot-256 {
      background-image: url("dataplayer1.png");
    }

    div.slot-512 {
      background-image: url("christmas.jpg");
    }
  
    div.slot-1024 {
      background-image: url("ddf.png");
    }

    div.slot-2048 {
      background-image: url("radesh.jpg");
    }
    
    div.slot-4096 {
      background-image: url("edgeradesh.jpg");
    }

    
    div.hidden {
      display: hidden;
    }
  }
  
  div.anim-board {
    left: 0px;
    top: 0px;
    background: none;
  }
}